<app-toolbar></app-toolbar>
<br>
<br>
<mat-card-content>
    <mat-card>
        <div>
            <mat-toolbar color="primary">
                <mat-toolbar-row>

                    <div>
                        <h3>🔥 Categorias 🔥</h3>
                    </div>
                    <span class="flexExpand"></span>
                    <div>
                        <button (click)="AdicionarDialog()" style="margin:2em;" mat-mini-fab color="accent" aria-label="Example icon button with a bookmark icon">
                    <mat-icon>add</mat-icon>
                  </button>
                    </div>
                </mat-toolbar-row>
            </mat-toolbar>
        </div>
        <mat-divider></mat-divider>
        <br>
        <div>
           
        </div>
        <br>

        <mat-divider></mat-divider>

        <br>
    </mat-card>

</mat-card-content>
<br>