// .mat-toolbar-row,
// .mat-toolbar-single-row {
//   height: 100px;
// }

// .mat-toolbar {
//   background: #212121;
//   color: #fff;
// }

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 100px;
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  background-color: #0059ff;
}
