mat-card {
  max-width: 400px;
  margin: auto;
  text-align: center;
  border-radius: 20px;
  //background-color: #1d1d1d;
}

mat-form-field {
  display: block;
}

.register {
  text-align: center;
}

mat-card[_ngcontent-moy-c314] {
  max-width: 400px;
  margin: auto;
  text-align: center;
  border-radius: 20px;
  // background-color: #1d1d1d;
}
