<footer>
    <section class="section-top">
        <div class="col">
            <h1>
                <mat-icon>announcement</mat-icon> Mais Vendidos <small style="color: #ccc;">até 31/12/2020</small> </h1>
            <div>
                <h2 style="color: chartreuse;">
                    <mat-icon>chevron_right</mat-icon> 1º Almondêgas </h2>
            </div>
            <div>
                <h2 style="color: chartreuse;">
                    <mat-icon>chevron_right</mat-icon> 2º Almondêgas</h2>
            </div>
            <div>
                <h2 style="color: chartreuse;">
                    <mat-icon>chevron_right</mat-icon> 3º Almondêgas</h2>
            </div>
        </div>
        <div class="col">

            <h1>
                <mat-icon>announcement</mat-icon> Total Geral <small style="color: #ccc;">até 31/12/2020</small> </h1>
            <div>
                <h2 style="color:chocolate;">
                    <mat-icon>chevron_right</mat-icon> R$ 25.254,25</h2>
            </div>
        </div>
        <div class="col">

            <h1>
                <mat-icon>announcement</mat-icon> Aguardando</h1>
            <div>


                <h2 style="color:cyan;">
                    <mat-icon>chevron_right</mat-icon> 26 Almondêgas</h2>
            </div>
            <div>
                <h2 style="color: cyan;">
                    <mat-icon>chevron_right</mat-icon> 2 Almondêgas</h2>
            </div>
        </div>
    </section>
    <section class="section-bottom">
        <img width="180xp" src="./../../../../assets/logoPrincipal.svg" style="padding: 2em;">
    </section>
</footer>
